@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.column-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.column-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.column-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
*{
    font-family: 'Fira Code';
    font-weight: 600;
    padding: 0%;
    margin: 0%;
}
#welcome{
    text-align: center;
    font-family: 'Lobster', cursive;
}
.nav-bar{
    background-color: #faebd7;
}
.nav-bar a{
    color: #553811;
    text-decoration: none;
}
.nav-bar a:hover{
    color: sienna;
    text-decoration: dashed;
}
.layer{
    width: 100%;
}
.logo a img{
    max-width: 80px;
}
#menu{
    font-size: 1em;
    padding: 2em;
    margin: 2em;
}
.formulario{
    background-color: #4d4d4d;
    color: #FFFFFF;
    padding: 15px;
}